/* nav */

.topnav{
    position:sticky;
    top:0;
}

.allyears,
.firstfour,
.nextfour{
    display: flex;
}

.topnav .sub-menu {
    list-style: none;
    display: flex;
    margin-bottom:2rem;
    margin-left:32rem;
}

.topnav a {
    text-decoration: none;
    font-size:2.2rem;
    padding: 0.8rem;
    background-color:#11091E;
    color:#cccccc;
}

.allyears a:hover {
    background-color:white;
    color:black;  
}



