/* [type=submit],[type=reset]{-webkit-appearance:button;}html{line-height:1.15;}html{-ms-text-size-adjust:100%;}::-webkit-file-upload-button{-webkit-appearance:button;}html{-webkit-text-size-adjust:100%;}body,h1{margin-left:0;}body{margin-bottom:0;}[type=button]::-moz-focus-inner{border-left-style:none;}[type=button]::-moz-focus-inner{border-bottom-style:none;}h1,body{margin-right:0;}body{margin-top:0;}[type=button]::-moz-focus-inner{border-right-style:none;}main,figure,nav,section,figcaption,footer,aside,header,article{display:block;}[type=button]::-moz-focus-inner{border-top-style:none;}[type=button]::-moz-focus-inner{padding-left:0;}[type=button]::-moz-focus-inner{padding-bottom:0;}abbr[title]{border-bottom-width:medium;}[type=button]::-moz-focus-inner{padding-right:0;}::-webkit-file-upload-button{font:inherit;}.topnav .sub-menu{list-style:none;}h1{font-size:2em;}[type=button]::-moz-focus-inner{padding-top:0;}[type=reset]::-moz-focus-inner{border-left-style:none;}h1{margin-bottom:.67em;}h1{margin-top:.67em;}[type=reset]::-moz-focus-inner{border-bottom-style:none;}figure{margin-left:30pt;}[type=reset]::-moz-focus-inner{border-right-style:none;}figure{margin-bottom:1em;}[type=reset]::-moz-focus-inner{border-top-style:none;}[type=reset]::-moz-focus-inner{padding-left:0;}abbr[title]{border-bottom-style:none;}figure{margin-right:30pt;}figure{margin-top:1em;}hr{box-sizing:content-box;}hr{height:0;}[type=reset]::-moz-focus-inner{padding-bottom:0;}[type=reset]::-moz-focus-inner{padding-right:0;}hr{overflow:visible;}kbd,samp,code,pre{font-family:monospace,monospace;}[type=reset]::-moz-focus-inner{padding-top:0;}kbd,pre,samp,code{font-size:1em;}[type=submit]::-moz-focus-inner{border-left-style:none;}a{background-color:transparent;}[type=submit]::-moz-focus-inner{border-bottom-style:none;}[type=submit]::-moz-focus-inner{border-right-style:none;}a{-webkit-text-decoration-skip:objects;}strong,b{font-weight:inherit;}[type=submit]::-moz-focus-inner{border-top-style:none;}[type=submit]::-moz-focus-inner{padding-left:0;}[type=submit]::-moz-focus-inner{padding-bottom:0;}strong,b{font-weight:bolder;}[type=submit]::-moz-focus-inner{padding-right:0;}[type=submit]::-moz-focus-inner{padding-top:0;}[type=button]:-moz-focusring{outline:.0625pc dotted ButtonText;}[type=reset]:-moz-focusring{outline:.0625pc dotted ButtonText;}dfn{font-style:italic;}[type=submit]:-moz-focusring{outline:.0625pc dotted ButtonText;}mark{background-color:#ff0;}mark{color:#000;}small{font-size:80%;}abbr[title]{border-bottom-color:currentColor;}sup,sub{font-size:75%;}[type=radio],[type=checkbox]{box-sizing:border-box;}[type=radio],[type=checkbox]{padding-left:0;}[type=radio],[type=checkbox]{padding-bottom:0;}sup,sub{line-height:0;}sub,sup{position:relative;}[type=checkbox],[type=radio]{padding-right:0;}[type=checkbox],[type=radio]{padding-top:0;}sub,sup{vertical-align:baseline;}abbr[title]{border-image:none;}[type=number]::-webkit-inner-spin-button{height:auto;}[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;}sub{bottom:-.25em;}abbr[title]{text-decoration:underline;}sup{top:-.5em;}[type=search]{outline-offset:-.020833333in;}[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}audio,video{display:inline-block;}[type=search]::-webkit-search-decoration{-webkit-appearance:none;}img,.sr-only{border-left-style:none;}.sr-only,img{border-bottom-style:none;}img,.sr-only{border-right-style:none;}img,.sr-only{border-top-style:none;}abbr[title]{text-decoration:underline dotted;}audio:not([controls]),[hidden]{display:none;}.sr-only{position:absolute;}optgroup,input,button,select{font-family:sans-serif;}optgroup,button,select,input{font-size:100%;}*{box-sizing:inherit;}.sr-only{width:1px;}optgroup,input,button,select{line-height:1.15;}.sr-only{height:.75pt;}optgroup,input,select,button{margin-left:0;}optgroup,button,input,select{margin-bottom:0;}.sr-only{margin-left:-.010416667in;}.sr-only{margin-bottom:-.010416667in;}button,select,optgroup,input{margin-right:0;}select,optgroup,button,input{margin-top:0;}.sr-only{margin-right:-.010416667in;}.sr-only{margin-top:-.010416667in;}.sr-only{border-left-width:0;}.sr-only{border-bottom-width:0;}.sr-only{border-right-width:0;}.sr-only{border-top-width:0;}.sr-only{border-left-color:currentColor;}.sr-only{border-bottom-color:currentColor;}.sr-only{border-right-color:currentColor;}audio:not([controls]){height:0;}.sr-only{border-top-color:currentColor;}.sr-only{border-image:none;}.sr-only{padding-left:0;}.sr-only{padding-bottom:0;}[class~=nextfour],[class~=allyears],[class~=firstfour],.topnav .sub-menu{display:flex;}.topnav .sub-menu{margin-bottom:2rem;}.sr-only{padding-right:0;}textarea{font-family:sans-serif;}.sr-only{padding-top:0;}textarea{font-size:100%;}textarea{line-height:1.15;}.sr-only{white-space:nowrap;}.sr-only{clip-path:inset(100%);}textarea{margin-left:0;}textarea,.wrapper{margin-bottom:0;}.sr-only{clip:rect(0 0 0 0);}textarea{margin-right:0;}textarea,.wrapper{margin-top:0;}.sr-only,svg:not(:root){overflow:hidden;}.wrapper{max-width:937.5pt;}input,button{overflow:visible;}.topnav .sub-menu{margin-left:31rem;}.wrapper{width:100%;}select,button{text-transform:none;}.wrapper{margin-left:auto;}.wrapper{margin-right:auto;}[class~=topnav]{position:sticky;}html [type=button],button{-webkit-appearance:button;}button::-moz-focus-inner{border-left-style:none;}button::-moz-focus-inner{border-bottom-style:none;}button::-moz-focus-inner{border-right-style:none;}[class~=topnav]{top:0;}button::-moz-focus-inner{border-top-style:none;}button::-moz-focus-inner{padding-left:0;}button::-moz-focus-inner{padding-bottom:0;}button::-moz-focus-inner{padding-right:0;}button::-moz-focus-inner{padding-top:0;}[class~=topnav]{z-index:2;}button:-moz-focusring{outline:.0625pc dotted ButtonText;}fieldset{padding-left:.75em;}fieldset{padding-bottom:.625em;}[class~=clearfix]:after{visibility:hidden;}fieldset{padding-right:.75em;}[class~=container]{padding-left:3rem;}[class~=container]{padding-bottom:3rem;}[class~=container]{padding-right:3rem;}[class~=container]{padding-top:3rem;}[class~=clearfix]:after{display:block;}[class~=container]{margin-left:-2.3rem;}[class~=headnews]{color:#ccc;}[class~=headnews]{text-align:center;}[class~=headnews]{font-size:2.2rem;}fieldset{padding-top:.35em;}[class~=headnews]{margin-left:2.3rem;}[class~=headnews]{margin-top:-5.4rem;}legend,html{box-sizing:border-box;}legend{color:inherit;}legend{display:table;}legend{max-width:100%;}body,legend{padding-left:0;}body,legend{padding-bottom:0;}[class~=headnews]{padding-left:1rem;}[class~=headnews]{padding-bottom:1rem;}body,legend{padding-right:0;}legend{padding-top:0;}legend{white-space:normal;}progress{display:inline-block;}progress{vertical-align:baseline;}textarea,[class~=firstBox]{overflow:auto;}details,menu{display:block;}[class~=headnews]{padding-right:1rem;}[class~=allyears] a:hover{background-color:white;}summary{display:list-item;}[class~=headnews]{padding-top:1rem;}[class~=clearfix]:after{font-size:0;}[class~=clearfix]:after{content:"";}[class~=clearfix]:after{clear:both;}[class~=headnews],[class~=firstBox]{position:fixed;}canvas{display:inline-block;}template{display:none;}html{-moz-box-sizing:border-box;}[class~=headnews]{font-weight:300;}html{-webkit-box-sizing:border-box;}[class~=allyears] a:hover{color:black;}[class~=twoBoxes]{display:flex;}*:after,*:before{box-sizing:inherit;}[class~=firstBox]{width:19.1rem;}html{font-size:62.5%;}html{scroll-behavior:smooth;}body,ul{margin-left:0;}[class~=clearfix]:after{height:0;}[class~=firstBox]{height:88%;}[class~=firstBox]{padding-left:2rem;}[class~=repeat],[class~=firstBox]{padding-bottom:2rem;}ul,h2,body,h1{margin-bottom:0;}[class~=firstBox]{padding-right:2rem;}body,h1,h2,ul{margin-right:0;}[class~=firstBox],[class~=repeat]{padding-top:2rem;}h1,body,h2,ul{margin-top:0;}[class~=prompt] span{font-size:1.5rem;}[class~=firstBox]{margin-left:6rem;}[class~=podcastimage]{width:15rem;}[class~=podcastimage]{height:15rem;}[class~=podcastimage]{margin-bottom:2rem;}[class~=podcastimage]{filter:grayscale(1);}.secondBox{padding-left:2rem;}h2,body,ul,h1{padding-top:0;}[class~=topnav] a{text-decoration:none;}.secondBox{padding-right:2rem;}ul,h2,body,h1{font-weight:lighter;}.secondBox{margin-left:30rem;}[class~=repeat]{padding-left:2rem;}[class~=repeat]{padding-right:2rem;}[class~=repeat]{margin-bottom:1rem;}[class~=repeat]{border-left-width:.0625pc;}h1,h3,h2,ul{padding-left:0;}[class~=repeat]{border-bottom-width:.0625pc;}[class~=topnav] a{font-size:2.2rem;}ul,h1,h3,h2{padding-bottom:0;}h1,ul,h2,h3{padding-right:0;}[class~=repeat]{border-right-width:.0625pc;}[class~=repeat]{border-top-width:.0625pc;}[class~=repeat]{border-left-style:solid;}[class~=repeat]{border-bottom-style:solid;}[class~=repeat]{border-right-style:solid;}[class~=repeat]{border-top-style:solid;}h1,h3,h4,h2{margin-left:0;}[class~=repeat]{border-left-color:black;}[class~=repeat]{border-bottom-color:black;}[class~=repeat]{border-right-color:black;}[class~=repeat]{border-top-color:black;}[class~=repeat]{border-image:none;}[class~=topnav] a{padding-left:.6rem;}[class~=repeat]{background-color:#ccc;}[class~=topnav] a{padding-bottom:.6rem;}[class~=repeat]{width:100%;}[class~=topnav] a{padding-right:.6rem;}h4,h3,p{margin-bottom:0;}p,h4,h3{margin-right:0;}h3,p,h4{margin-top:0;}[class~=topnav] a{padding-top:.6rem;}[class~=tim]{display:flex;}h4,p,h3{padding-top:0;}p,h4,h3{font-weight:lighter;}[class~=tim]{justify-content:space-between;}.title,[class~=datest],[class~=blog] [class~=post],[class~=stolen]{padding-bottom:1rem;}.title{padding-left:1rem;}body,[class~=topnav] a{background-color:#11091e;}.title{padding-right:1rem;}.title{font-size:3.5rem;}.title,[class~=topnav] a{color:#ccc;}h4,p{padding-left:0;}h4,p{padding-bottom:0;}p,h4{padding-right:0;}[class~=bold],.title{font-weight:700;}[class~=tim] img,.title{background-color:black;}p{margin-left:0;}[class~=user]{font-size:2rem;}[class~=user]{color:red;}[class~=daterp],[class~=datest]{margin-top:1rem;}[class~=datest],[class~=stolen],[class~=blog] [class~=post],[class~=daterp]{font-size:2.2rem;}[class~=tim] img{width:10rem;}body{font-family:"Inconsolata",monospace;}[class~=tim] img{height:5rem;}body{font-weight:100;}body{color:black;}[class~=secondBox] [class~=blog]{margin-bottom:1rem;}[class~=stolen]{word-wrap:break-word;}[class~=tim] img{filter:grayscale(1);}[class~=blog] [class~=post],[class~=stolen]{word-spacing:2px;}[class~=tim] img{z-index:1;}[class~=stolen]{width:70%;}@media (max-width: 972px){.firstBox{width:26rem;}[class~=topnav] a{padding-left:.4rem;}[class~=topnav] a{padding-bottom:.4rem;}[class~=topnav] [class~=sub-menu]{margin-left:29rem;}[class~=topnav] a{padding-right:.4rem;}[class~=articleimage]{width:100%;}[class~=topnav] a{padding-top:.4rem;}.secondBox{margin-left:27rem;}}@media (max-width: 920px){.blog .post,[class~=topnav] a{font-size:2.3rem;}.container{margin-left:.5rem;}[class~=headnews],[class~=firstBox]{display:none;}[class~=secondBox]{margin-left:1rem;}[class~=topnav] a{padding-left:1.1rem;}.topnav .sub-menu{padding-left:1rem;}[class~=topnav] a{padding-bottom:1.1rem;}[class~=secondBox]{margin-bottom:1rem;}[class~=topnav] a{padding-right:1.1rem;}[class~=secondBox]{margin-right:1rem;}.topnav .sub-menu{padding-bottom:1rem;}[class~=secondBox]{margin-top:1rem;}.topnav .sub-menu{padding-right:1rem;}.topnav .sub-menu{padding-top:1rem;}.topnav .sub-menu{margin-left:0rem;}[class~=topnav] a{padding-top:1.1rem;}[class~=repeat],[class~=stolen]{width:100%;}[class~=title]{font-size:4rem;}.topnav .sub-menu{margin-bottom:0rem;}.topnav .sub-menu{margin-right:0rem;}.topnav .sub-menu{margin-top:0rem;}[class~=user]{font-size:2rem;}.topnav .sub-menu{justify-content:center;}[class~=daterp],.datest,.stolen{font-size:2.3rem;}}@media (max-width: 830px){[class~=topnav] a{font-size:2rem;}[class~=topnav] a{padding-left:1.1rem;}[class~=topnav] a{padding-bottom:1.1rem;}[class~=topnav] a{padding-right:1.1rem;}[class~=topnav] a{padding-top:1.1rem;}}@media (max-width: 768px){[class~=firstfour]{margin-bottom:4rem;}[class~=topnav] [class~=sub-menu]{background-color:#11091e;}[class~=topnav] a{font-size:2.4rem;}[class~=firstfour]{margin-left:1rem;}[class~=topnav] [class~=sub-menu]{width:100%;}.topnav .allyears{display:flex;}.topnav .allyears{flex-direction:column;}.topnav .allyears{padding-left:1rem;}[class~=nextfour]{margin-left:7rem;}.topnav .allyears{padding-bottom:1rem;}.topnav .allyears{padding-right:1rem;}.topnav .allyears{padding-top:1rem;}[class~=prompt]{font-size:2rem;}[class~=prompt]{padding-top:4rem;}}@media (max-width: 650px){[class~=firstfour]{margin-bottom:4rem;}[class~=topnav] a{padding-left:.5rem;}[class~=firstfour]{margin-left:1rem;}.nextfour{margin-left:2rem;}[class~=topnav] a{padding-bottom:.5rem;}[class~=repeat]{width:105%;}[class~=repeat]{margin-left:-3rem;}[class~=topnav] a{padding-right:.5rem;}[class~=topnav] a{padding-top:.5rem;}}@media (max-width: 600px){.prompt{font-size:2rem;}.prompt{padding-top:4rem;}.repeat{width:112%;}[class~=topnav] [class~=sub-menu]{width:100%;}.title{font-size:3.5rem;}}@media (max-width: 546px){.secondBox{padding-left:1rem;}.secondBox{padding-bottom:1rem;}.secondBox{padding-right:1rem;}[class~=topnav] [class~=sub-menu]{margin-left:-.4rem;}.secondBox{padding-top:0rem;}[class~=repeat]{margin-left:-2.3rem;}[class~=tim] img{display:none;}}@media (max-width: 500px){[class~=firstfour],[class~=nextfour]{margin-left:-1rem;}.topnav a{padding-left:.7rem;}[class~=topnav] [class~=sub-menu]{width:106.5%;}[class~=firstfour]{margin-top:.7rem;}[class~=topnav] [class~=sub-menu]{display:flex;}.topnav a{padding-bottom:.7rem;}.topnav a{padding-right:.7rem;}[class~=nextfour]{margin-top:-2rem;}.topnav a{padding-top:.7rem;}.repeat{width:105%;}[class~=topnav] [class~=sub-menu]{flex-direction:column;}[class~=prompt] li{margin-top:-3rem;}[class~=title]{font-size:3rem;}[class~=prompt] li{text-align:left;}[class~=title]{padding-left:.5rem;}[class~=title]{padding-bottom:.5rem;}[class~=title]{padding-right:.5rem;}[class~=title]{padding-top:.5rem;}[class~=user]{font-size:1.5rem;}[class~=prompt] a{font-size:2.3rem;}}@media (max-width: 384px){[class~=secondBox]{padding-left:0rem;}[class~=secondBox]{padding-bottom:0rem;}[class~=secondBox]{padding-right:0rem;}[class~=topnav] [class~=sub-menu],[class~=secondBox]{width:112%;}[class~=secondBox]{padding-top:0rem;}[class~=secondBox]{margin-left:-3rem;}[class~=secondBox]{margin-bottom:-3rem;}[class~=secondBox]{margin-right:-3rem;}[class~=secondBox]{margin-top:1rem;}.repeat{width:100%;}.repeat{margin-left:.9rem;}[class~=title]{font-size:3.3rem;}[class~=topnav] [class~=sub-menu]{margin-left:-2.2rem;}}@media (max-width: 320px){[class~=daterp],[class~=secondBox] [class~=post],[class~=bold],[class~=datest],[class~=stolen]{font-size:2.1rem;}.topnav .sub-menu{margin-left:-2rem;}.title{font-size:2.8rem;}[class~=repeat]{margin-left:1.09rem;}} */

/* the actual code is below */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* Below are the general styles - linking different fonts to their elements. */
body,
ul,
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

body {
	/* font-family: "Inconsolata", monospace; */
	font-family: "EB Garamond", serif;
	font-weight: 100;
	color: black;
	background-color: #11091e;
}

.wrapper {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
}

/* nav */
.topnav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}

.allyears,
.firstfour,
.nextfour {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.topnav .sub-menu {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2rem;
	margin-left: 32rem;
}

.topnav a {
	text-decoration: none;
	font-size: 2.2rem;
	padding: 0.8rem;
	background-color: #11091e;
	color: #cccccc;
}

.allyears a:hover {
	background-color: white;
	color: black;
}

/* below are the styles for the page */
.container {
	padding: 3rem;
	margin-left: -2.3rem;
}

.headnews {
	color: #cccccc;
	text-align: center;
	font-size: 2.3rem;
	margin-left: 5.5rem;
	margin-top: -5.3rem;
	padding: 1rem;
	position: fixed;
	font-weight: 300;
}

.twoBoxes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.firstBox {
	width: 19.1rem;
	height: 88%;
	padding: 2rem;
	position: fixed;
	overflow: auto;
	margin-left: 6rem;
}

.podcastimage {
	width: 15rem;
	height: 15rem;
	margin-bottom: 2rem;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.secondBox {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-left: 30rem;
}

.secondBox .blog {
	margin-bottom: 1rem;
}

.repeat {
	padding: 2rem;
	margin-bottom: 1rem;
	border: 1px solid black;
	background-color: #cccccc;
	width: 100%;
}

.tim {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.tim img {
	width: 10rem;
	height: 5rem;
	background-color: black;
	z-index: 1;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.title {
	font-size: 3.5rem;
	padding: 1rem;
	background-color: black;
	color: #cccccc;
	border-radius: 10px;
	text-align: center;
}

.user {
	font-size: 2rem;
	color: red;
}

.daterp {
	margin-top: 1rem;
	font-size: 2.2rem;
}

.datest {
	padding-bottom: 1rem;
	margin-top: 1rem;
	font-size: 2.2rem;
}

.stolen {
	padding-bottom: 1rem;
	font-size: 2.2rem;
	word-wrap: break-word;
	word-spacing: 2px;
	width: 70%;
}

.blog .post {
	padding-bottom: 1rem;
	font-size: 2.2rem;
	word-spacing: 2px;
}

.bold {
	color: black;
}

/* NEW MEDIA */
@media (max-width: 960px) {
	.firstBox {
		width: 26rem;
	}
	.articleimage {
		width: 100%;
	}
	.secondBox {
		margin-left: 27rem;
	}
	.topnav a {
		padding: 0.55rem;
	}
	.topnav .sub-menu {
		margin-left: 29rem;
	}
}

/* NEW MEDIA */
@media (max-width: 890px) {
	.container {
		margin-left: 0.5rem;
	}
	.topnav .sub-menu {
		padding: 1rem;
		margin: 0rem;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.topnav a {
		font-size: 2.4rem;
		padding: 1rem;
	}
	.headnews {
		display: none;
	}
	.firstBox {
		display: none;
	}
	.secondBox {
		margin: 1rem;
	}
	.repeat {
		width: 100%;
	}
	.title {
		font-size: 4rem;
	}
	.user {
		font-size: 2rem;
	}
	.datest,
	.daterp,
	.stolen {
		font-size: 2.3rem;
	}
	.stolen {
		width: 100%;
	}
	.blog .post {
		font-size: 2.3rem;
	}
}

@media (max-width: 768px) {
	.topnav .sub-menu {
		background-color: #11091e;
		width: 100%;
	}
	.topnav .allyears {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 1rem;
	}
	.firstfour {
		margin-bottom: 4rem;
		margin-left: 1rem;
	}
	.nextfour {
		margin-left: 7rem;
	}
	.prompt {
		font-size: 2rem;
		padding-top: 4rem;
	}
}

@media (max-width: 600px) {
	.topnav a {
		padding: 0.5rem;
	}
	.firstfour {
		margin-bottom: 4rem;
		margin-left: 1rem;
	}
	.nextfour {
		margin-left: 2rem;
	}
	.repeat {
		width: 112.5%;
		margin-left: -3rem;
	}
}

@media (max-width: 560px) {
	.topnav a {
		font-size: 2rem;
	}
	.topnav .sub-menu {
		width: 100%;
	}
	.prompt {
		font-size: 2rem;
		padding-top: 4rem;
	}
	.repeat {
		width: 109.6%;
	}
}

@media (max-width: 546px) {
	.topnav .sub-menu {
		margin-left: -0.4rem;
	}
	.tim img {
		display: none;
	}
	.secondBox {
		padding: 1rem;
		padding-top: 0rem;
	}
	.repeat {
		margin-left: -2.3rem;
	}
}

@media (max-width: 500px) {
	.topnav .sub-menu {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.topnav a {
		padding: 0.7rem;
	}
	.prompt li {
		margin-top: -3rem;
		text-align: left;
	}
	.prompt a {
		font-size: 2.3rem;
	}
	.firstfour {
		margin-left: -1rem;
		margin-top: 0.7rem;
	}
	.nextfour {
		margin-left: -1rem;
		margin-top: -2rem;
	}
}

@media (max-width: 500px) {
	.repeat {
		width: 95%;
	}
}

@media (max-width: 410px) {
	.repeat {
		width: 92.5%;
	}
	.topnav .sub-menu {
		width: 93.5%;
	}
}

@media (max-width: 384px) {
	.secondBox {
		padding: 0rem;
		width: 112%;
		margin: -3rem;
		margin-top: 1rem;
	}
	.repeat {
		width: 100%;
		margin-left: 0.8rem;
	}
	.topnav .sub-menu {
		width: 112%;
		margin-left: -2.2rem;
	}
	.title {
		font-size: 3.5rem;
	}
}
